.box{
    //min-height: 640px;
    padding: 6% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .title-section{
        letter-spacing:  4px;
    }
    // @media (max-width: 992px){
    //     padding: 8% 10%;
    // }
}
.box-line{
    border: solid 3px #ec222a;
    .btn-roof{  
        color: #282828;
    }
    @media (max-width: 480px){
        border: none;
    }    
}
.box-color-1{
    color: #fff;
    background-color: #ec222a;
    .btn-roof{
        border-color: #fff;
    }
    .title-section{
        color: #282828;
        text-transform: uppercase;
        font-size: 15px;
    }
    .subtitle-section{
        font-size: 37px;
        font-weight: bold;
    }
}

.box-image{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        height: 100vh;
        max-width: 945px;
        width: 162%;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 992px){
            display: none;
         }
    }
}
.box-image-right:before{
    left: 102%;
    background-position: top left;   
}
.box-image-left:before{
    right: 100%;
    background-position: top right;   
}
@media (min-width: 993px){
    .box-image-about{
        padding-right: 40px;
        &:before{
            background-image: asset_url('box-image-about.jpg');
        }
    }
    .box-image-structure{
        padding-right: 40px;
        &:before{
            background-image: asset_url('box-image-structure.jpg');
        }
    }
}