#logo-partners.owl-theme .owl-controls .owl-page span {
    width: 12px;
    height: 12px;
    background-color: #dbdbdb;
}
#logo-partners.owl-theme .owl-controls .owl-page.active span {
    background-color: #ec222a;
}
.logo-partners{
	margin-top: 50px;
}