<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="col-md-12 no-padding">
                    <div class="col-sm-12 no-padding padding-bottom-small">
                        <%= image_tag('logo.jpg', class: 'img-responsive', alt: '033 Rooftop') %>
                    </div>
                	<p><strong>Parceiros</strong>
					<div class="partners-imgs">
						<div class="in-block vertical-center">
                    		<%= image_tag('santander-vermelho.jpg', class: 'img-responsive', alt: 'Santander') %>
                    	</div>
                    	<div class="in-block vertical-center">
                    		<%= image_tag('iguatemi.png', class: 'img-responsive', alt: 'Iguatemi') %>
                    	</div>
                	</div>
                	<p>Complexo WT JK</p>
                </div>
            </div>
            <div class="col-md-4">
				<p><strong>Telefone</strong></p>
				<a href="tel:01148106868">(11) 4810.6868</a><span class="barra"> / </span><a href="tel:01148106878">(11) 4810.6878</a>
				<p><strong>E-mail</strong></p>
                <a href="mailto:eventos@teatrosantander.com.br">eventos@teatrosantander.com.br</a>

				<!-- <a href="mailto:contato@033rooftop.com.br">eventos@033rooftop.com.br</a> -->
				<address>Av. Presidente Juscelino Kubitschek, 2041<br>Bairro Itaim Bibi - São Paulo/SP CEP: 04543-011</address>
				<p>Alvará de Funcionameno 2018/04088-00, validade 16/03/2019. AVCB nº 223326, validade 02/02/2019. Capacidade Máxima: 2085 pessoas</p>
				<a href="http://teatrosantander.com.br/MarcoCivil-Privacidade-TeatroSantander.pdf" target="_blank" class="politic">Política de Privacidade</a><span> | </span><a href="http://teatrosantander.com.br/MarcoCivil-Cookies-TeatroSantander.pdf" target="_blank" class="politic">Política de uso de cookies</a>
            </div>
            <div class="col-md-2">
            	<p><strong>Redes Sociais</strong></p>
            	<div class="socials-icon">
            		<div class="in-block"><a href="https://www.facebook.com/033Rooftop/" target="_blank"><i class="ion-social-facebook"></i></a></div>
            		<div class="in-block"><a href="https://www.instagram.com/033Rooftop/" target="_blank"><i class="ion-social-instagram"></i></a></div>
            	</div>
		<p><strong>WhatsApp</strong></p>
		<a href="https://api.whatsapp.com/send?phone=011942803332">(11) 94280-3332</a>
                <div class="planb">
                    <a href="http://planb.com.br/" target="_blank"><%= image_tag('plan-b.png', class: 'img-responsive', alt: 'Logo da Plan B - Uma caneca com café') %></a>
                </div>
            </div>
        </div>
    </div>
</footer>
