#success{
	.parallax-structure{
		background: #38cd95;
	}
	.titles-success{
		h3{
			font-size: 20px;
			font-family: 'Dosis';
			text-transform: uppercase;
			font-weight: 600;
			color: #ec222a;
			margin-bottom: 0;
		}
		h2{
			font-size: 70px;
			font-style: italic;
			color: #FFF;
			font-family: 'Playfair Display', serif;
			font-weight: 900;
			text-transform: initial;
		}
	}	
}