<section id="success" class="first-section">

	<div class="section third-height flex vertical-center">

		<div class="parallax-structure"></div>

		<div class="container">
				<div class="titles-success">
					<h3 class="text-center">Obrigado!</h3>
					<h2 class="text-center">Enviado com sucesso</h2>
				</div>
		</div>
	</div>

</section>

<section class="padding-top padding-bottom-small">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h3 class="title-section">Agradecemos por escolher o 033 Rooftop!</h3>
					<p class="subtitle-section">Seu pedido de orçamento foi enviado.</p>
					<hr>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<p class="text text-center">Estamos ansiosos para receber você e seus convidados. E enquanto finalizamos o orçamento do seu evento, é só ficar atento à sua caixa de e-mails que, em breve, entraremos em contato.</p>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="success">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="services-box-2">
					<div class="icon icon-location-pin"></div>
					<h6>VISITE-NOS</h6>
					<p>+Av. Presidente Juscelino Kubitschek, 2041 -  Bairro Itaim Bibi - São Paulo/SP CEP: 04543-011</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="services-box-2">
					<div class="icon icon-phone"></div>
					<h6>CONTATO</h6>
					<p><a href="tel:01148106868" class="link-text">+55 11 4810-6868</a></p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="services-box-2">
					<div class="icon icon-envelope-letter"></div>
					<h6>E-MAIL</h6>
					<p><a href="mailto:eventos@033rooftop.com.br" class="link-text">eventos@033rooftop.com.br</a></p>
				</div>
			</div>													
<!-- 				<img src="<%= asset_path 'banner-tour360-contact.jpg' %>" class="img-responsive padding-top-small" alt="">		 -->	
		</div>
	</div>
</section>

<section id="google-map" class="section">
	<div id="cd-google-map">
		<div id="google-container"></div>
		<div id="cd-zoom-in"></div>
		<div id="cd-zoom-out"></div>
		<address>
			<span>Av. Presidente Juscelino</span><br><span>Kubitschek, 2041</span><br><span>Bairro Itaim Bibi - SP</span>
		</address>

	</div>
</section>

<!-- Event snippet for Formulário conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-820609263/XMcNCIiR23sQ74GmhwM'});
</script>