<section class="first-section">
	<div class="section third-height flex vertical-center">
		<div class="parallax-about"></div>
		<div class="container">
			<div class="titles-internals">
				<h3 class="text-center">Conheça</h3>
				<h2>Sobre nós</h2>
			</div>
		</div>
	</div>
</section>
<section class="padding-top padding-bottom-small">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h3 class="title-section">Do mundo para São Paulo</h3>
					<h2 class="title-background"><span>Institucional</span></h2>
					<p class="subtitle-section">Versatilidade para o seu evento</p>
					<hr>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<p class="text text-center">O projeto do 033 Rooftop explora o conceito “Industrial Chic”, inspirado nos galpões e armazéns novaiorquinos, das décadas de 50 a 70, o espaço oferece requinte, conforto, e o mais importante: versatilidade para a realização dos mais variados tipos de eventos na capital paulista.</p>
			</div>
        </div>
        <%= image_tag("about_1.jpg", :alt => "visão aérea do projeto 033", :class =>"img-fluid", size: "1543x703") %>
    </div>
</section>
<section class="padding-bottom">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-6 box-image box-image-right box-image-about">
	            <h2 class="title-box">Conheça o 033 Rooftop</h2>
	            <p class="title-section title-section-black uppercase text-space-4">Atemporal, discreto e apaixonante</p>
	            <hr class="hr-left">
	            <p>Localizado dentro do complexo WT JK, onde se encontram o Shopping JK Iguatemi, a torre sede do Banco Santander e outras centenas de escritórios, divididos em duas torres de alto padrão, o novo espaço possui uma infraestrutura capaz de receber diversos tipos de eventos:</p>
	            <br>
	            <br>
	            <ul class="list-bullet">
	                <li>Casamentos</li>
	                <li>Desfiles</li>
	                <li>Palestras</li>
	                <li>Exposições</li>
	                <li>Eventos Corporativos</li>
	            </ul>
	        </div>
	    </div>
	</div>
</section>
<section class="padding-top-small">
	<div class="container">
	    <div class="row flex-md-up">
	            <div class="box box-line">
	                <h2>
	                    <span class="subtitle-section">Teatro Santander</span><br>
	                    <span class="title-section">Tudo, em um só lugar</span>
	                </h2>
	                <hr class="hr-left">
	                <p>Localizado no terceiro pavimento do Teatro Santander, o 033 Rooftop é o destino para quem busca conforto, elegância e descontração para as noites paulistas. Fale conosco e realize seu evento aqui.</p>
	                <a href="http://www.teatrosantander.com.br/" target="_blank", class="btn-roof">Conheça</a>
	            </div>
	            <div class="box box-color-1">
	                <h2 class="subtitle-section">Sua empresa é cliente Santander?</h2>
	                <hr class="hr-white hr-left">
	                <p class="title-section">Vantagens e condições exclusivas aguardam o seu evento!</p>
	                <%= link_to "Orçamento", new_budget_path, class: "btn-roof", data: {turbolinks:"false"} %>
	            </div>
	    </div>
	</div>
</section>
<section class="dark-background padding-top padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bigger-margin text-center">
					<h3 class="title-section">Infraestrutura</h3>
					<h2 class="title-background"><span>Infraestrutura</span></h2>
					<p class="subtitle-section">Versatilidade, comodidade e elegância</p>
					<hr>
				</div>
			</div>
				<div class="col-md-8 col-md-offset-2">
					<p class="text text-center">Quem passa pela Marginal Pinheiros, e se encanta com as luzes vermelhas que colorem o Teatro Santander, não imagina que, a partir de agora, o mesmo local abriga um dos espaços mais interessantes para a realização de eventos na capital paulista. O 033 Rooftop tem tudo para não faltar nada em seu evento.</p>
                    <%= link_to "Conheça", infrastructures_path, class: "btn-roof m-auto", data: {turbolinks:"false"} %>
			</div>
		</div>
	</div>
</section>
<section class="video-parallax section padding-top-bottom-med">
	<div class="parallax-2"></div>
	<div class="container">
		<div class="row">
			<div class="play-video">
				<h2>Tour Virtual 360º</h2>
				<h3>Multifuncionalidade e bom gosto para seu evento</h3>
				<a href="https://www.youtube.com/embed/0uIQ-IN8SXE" data-fancybox="" class=""><div class="button icon-control-play"></div></a>
			</div>
		</div>
	</div>
</section>

